APP_NAME: local

# 日志配置
Logs:
  Level: "debug"

# 服务配置
Server:
  Http:
    Port: 8080
  WebSocket:
    Port: 8888

# Gorm配置
Gorm:
  Default:
    Driver: "mysql"
    Host: "127.0.0.1"
    Port: 3306
    Database: "test"
    Username: "root"
    Password: "123456"
    Charset: "utf8mb4"

# Redis配置
Redis:
  Default:
    Host: "127.0.0.1"
    Port: 6379
    Database: 0
    Password: ""